In [1]:
import numpy as np
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/SeliyaMindula/ML_Assignment2_IT19151298_IT19149936_IT19006208_IT19179186/IT19179186-Pramod/Crop_recommendation.csv"
data = pd.read_csv(url, encoding='latin-1')
data.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [3]:
data.shape

(2200, 8)

In [4]:
data.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [5]:
data.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [6]:
data.corr()['rainfall']

N              0.059020
P             -0.063839
K             -0.053461
temperature   -0.030084
humidity       0.094423
ph            -0.109069
rainfall       1.000000
Name: rainfall, dtype: float64

In [7]:
len(data['temperature'].value_counts())

2200

In [8]:
data['label'].value_counts()

rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: label, dtype: int64

In [9]:
def label_convert(inp):
    if inp=='rice':
        return '1'
    if inp=='maize':
        return '2'
    if inp=='jute':
        return '3'
    if inp=='cotton':
        return '4'
    if inp=='coconut':
        return '5'
    if inp=='papaya':
        return '6'
    if inp=='orange':
        return '7'
    if inp=='apple':
        return '8'
    if inp=='muskmelon':
        return '9'
    if inp=='watermelon':
        return '10'
    if inp=='grapes':
        return '11'
    if inp=='mango':
        return '12'
    if inp=='banana':
        return '13'
    if inp=='pomegranate':
        return '14'
    if inp=='lentil':
        return '15'
    if inp=='blackgram':
        return '16'
    if inp=='mungbean':
        return '17'
    if inp=='mothbeans':
        return '18'
    if inp=='pigeonpeas':
        return '19'
    if inp=='kidneybeans':
        return '20'
    if inp=='chickpea':
        return '21'
    if inp=='coffee':
        return '22'

In [10]:
data['label']= data['label'].apply(label_convert)

In [11]:
data['label'] = pd.to_numeric(data['label'])

In [12]:
data['label']

0        1
1        1
2        1
3        1
4        1
        ..
2195    22
2196    22
2197    22
2198    22
2199    22
Name: label, Length: 2200, dtype: int64

In [13]:
data.head(100)

     N   P   K  temperature   humidity        ph    rainfall  label
0   90  42  43    20.879744  82.002744  6.502985  202.935536      1
1   85  58  41    21.770462  80.319644  7.038096  226.655537      1
2   60  55  44    23.004459  82.320763  7.840207  263.964248      1
3   74  35  40    26.491096  80.158363  6.980401  242.864034      1
4   78  42  42    20.130175  81.604873  7.628473  262.717340      1
..  ..  ..  ..          ...        ...       ...         ...    ...
95  88  46  42    22.683191  83.463583  6.604993  194.265172      1
96  93  47  37    21.533463  82.140041  6.500343  295.924880      1
97  60  55  45    21.408658  83.329319  5.935745  287.576694      1
98  78  35  44    26.543481  84.673536  7.072656  183.622266      1
99  65  37  40    23.359054  83.595123  5.333323  188.413665      1

[100 rows x 8 columns]

In [14]:
x = data.drop('label', axis=1)
y = data['label']

In [15]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [16]:
x_train.shape, x_test.shape

((1650, 7), (550, 7))

In [17]:
def model_acc(model):
    model.fit(x_train,y_train)
    acc1 = model.score(x_train,y_train)
    acc2 = model.score(x_test,y_test)
    print(str(model)+'Training Accuracy -->'+str(acc1))
    print(str(model)+'Testing Accuracy -->'+str(acc2))

In [18]:
from sklearn.tree import DecisionTreeClassifier
dc = DecisionTreeClassifier()
model_acc(dc)

from sklearn.ensemble import RandomForestClassifier
rc= RandomForestClassifier()
model_acc(rc)

from sklearn.ensemble import GradientBoostingClassifier
gb = GradientBoostingClassifier()
model_acc(gb)

DecisionTreeClassifier()Training Accuracy -->1.0
DecisionTreeClassifier()Testing Accuracy -->0.9890909090909091
RandomForestClassifier()Training Accuracy -->1.0
RandomForestClassifier()Testing Accuracy -->0.990909090909091
GradientBoostingClassifier()Training Accuracy -->1.0
GradientBoostingClassifier()Testing Accuracy -->0.98

In [19]:
from sklearn.model_selection import GridSearchCV

parameters = {'n_estimators' :[10, 50, 100],
             'criterion' :['gini','entropy','log_loss']}

grid_obj = GridSearchCV(estimator=rc, param_grid=parameters)

grid_fit = grid_obj.fit(x_train, y_train)

best_model = grid_fit.best_estimator_
best_model

E:\Anaconda\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
15 fits failed out of a total of 45.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "E:\Anaconda\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "E:\Anaconda\lib\site-packages\sklearn\ensemble\_forest.py", line 450, in fit
    trees = Parallel(
  File "E:\Anaconda\lib\site-packages\joblib\parallel.py", line 1043, in __call__
    if self.dispatch_one_batch(iterator):
  File "E:\Anaconda\lib\site-packages\joblib\parallel.py", line 861, in dispatch_one_batch
    self._dispatch(tasks)
  File "E:\Anaconda\lib\site-packages\joblib\parallel.py", line 779, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "E:\Anaconda\lib\site-packages\joblib\_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "E:\Anaconda\lib\site-packages\joblib\_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "E:\Anaconda\lib\site-packages\joblib\parallel.py", line 262, in __call__
    return [func(*args, **kwargs)
  File "E:\Anaconda\lib\site-packages\joblib\parallel.py", line 262, in <listcomp>
    return [func(*args, **kwargs)
  File "E:\Anaconda\lib\site-packages\sklearn\utils\fixes.py", line 216, in __call__
    return self.function(*args, **kwargs)
  File "E:\Anaconda\lib\site-packages\sklearn\ensemble\_forest.py", line 185, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "E:\Anaconda\lib\site-packages\sklearn\tree\_classes.py", line 937, in fit
    super().fit(
  File "E:\Anaconda\lib\site-packages\sklearn\tree\_classes.py", line 352, in fit
    criterion = CRITERIA_CLF[self.criterion](
KeyError: 'log_loss'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
E:\Anaconda\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.99333333 0.99575758 0.99515152 0.98909091 0.99515152 0.99515152
        nan        nan        nan]
  warnings.warn(

RandomForestClassifier(n_estimators=50)

In [20]:
best_model.score(x_test, y_test)

0.9927272727272727