In [1]:
#Import Packages

In [2]:
import numpy as np
import pandas as pd

In [3]:
#Import Dataset

In [4]:
dataFranme = pd.read_csv('https://raw.githubusercontent.com/SeliyaMindula/ML_Assignment2_IT19151298_IT19149936_IT19006208_IT19179186/IT19149936-Buddhi/Dataset/Employee.csv',encoding='latin-1')
dataFranme.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1

In [5]:
#Display Number of Rows, Columns

In [6]:
dataFranme.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4653 entries, 0 to 4652
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Education                  4653 non-null   object
 1   JoiningYear                4653 non-null   int64
 2   City                       4653 non-null   object
 3   PaymentTier                4653 non-null   int64
 4   Age                        4653 non-null   int64
 5   Gender                     4653 non-null   object
 6   EverBenched                4653 non-null   object
 7   ExperienceInCurrentDomain  4653 non-null   int64
 8   LeaveOrNot                 4653 non-null   int64
dtypes: int64(5), object(4)
memory usage: 327.3+ KB

In [7]:
#Number of Missing Values in the Dataset

In [8]:
dataFranme.isnull().sum()

Education                    0
JoiningYear                  0
City                         0
PaymentTier                  0
Age                          0
Gender                       0
EverBenched                  0
ExperienceInCurrentDomain    0
LeaveOrNot                   0
dtype: int64

In [9]:
#Cleanning the Dataset

In [10]:
dataFranme['Gender'].value_counts()

Male      2778
Female    1875
Name: Gender, dtype: int64

In [11]:
def Gender_convert(inp):
    if inp=='Male':
        return '0'
    if inp=='Female':
        return '1'
dataFranme['Gender']= dataFranme['Gender'].apply(Gender_convert)

In [12]:
dataFranme['Gender'] = pd.to_numeric(dataFranme['Gender'])

In [13]:
dataFranme['Gender']

0       0
1       1
2       1
3       0
4       0
       ..
4648    1
4649    0
4650    0
4651    0
4652    0
Name: Gender, Length: 4653, dtype: int64

In [14]:
dataFranme['Education'].value_counts()

Bachelors    3601
Masters       873
PHD           179
Name: Education, dtype: int64

In [15]:
def Education_convert(inp):
    if inp=='Bachelors':
        return '0'
    if inp=='Masters':
        return '1'
    if inp=='PHD':
        return '2'
dataFranme['Education']= dataFranme['Education'].apply(Education_convert)

In [16]:
dataFranme['Education'] = pd.to_numeric(dataFranme['Education'])

In [17]:
dataFranme['Education']

0       0
1       0
2       0
3       1
4       1
       ..
4648    0
4649    1
4650    1
4651    0
4652    0
Name: Education, Length: 4653, dtype: int64

In [18]:
dataFranme['City'].value_counts()

Bangalore    2228
Pune         1268
New Delhi    1157
Name: City, dtype: int64

In [19]:
def City_convert(inp):
    if inp=='Bangalore':
        return '0'
    if inp=='Pune':
        return '1'
    if inp=='New Delhi':
        return '2'
dataFranme['City']= dataFranme['City'].apply(City_convert)

In [20]:
dataFranme['City'] = pd.to_numeric(dataFranme['City'])

In [21]:
dataFranme['City']

0       0
1       1
2       2
3       0
4       1
       ..
4648    0
4649    1
4650    2
4651    0
4652    0
Name: City, Length: 4653, dtype: int64

In [22]:
 dataFranme['EverBenched'].value_counts()

No     4175
Yes     478
Name: EverBenched, dtype: int64

In [23]:
def EverBenched_convert(inp):
    if inp=='No':
        return '0'
    if inp=='Yes':
        return '1'
dataFranme['EverBenched']= dataFranme['EverBenched'].apply(EverBenched_convert)

In [24]:
dataFranme['EverBenched'] = pd.to_numeric(dataFranme['EverBenched'])

In [25]:
dataFranme['EverBenched']

0       0
1       0
2       0
3       0
4       1
       ..
4648    0
4649    0
4650    0
4651    1
4652    1
Name: EverBenched, Length: 4653, dtype: int64

In [12]:
#Pandas DataFrame Drop

In [20]:
X = dataFranme.drop('LeaveOrNot',axis=1)
Y = dataFranme['LeaveOrNot']

In [14]:
#Find the Pairwise Correlation of All Columns in the Dataframe

In [26]:
def model_acc(model):
    model.fit(X_train,Y_train)
    acc1 = model.score(X_train,Y_train)
    acc2 = model.score(X_test,Y_test)
    print(str(model)+' Training Accuracy --> '+str(acc1))
    print(str(model)+' Testing Accuracy --> '+str(acc2))

In [31]:
#Hyperparameter tuning